:root {
    --primary-color: #002856;
    --link-color: #006AE3;
    --background-light: #F7F7F7;
    --white-color: #FFF;
}

/* Estilo para las tarjetas */
.card {
    margin: 10px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    overflow: hidden;
    background: var(--white-color);
}

.card__container {
    display: flex;
    padding: 20px 27px;
    flex-direction: column;
    align-items: flex-start;
    /* Permite que el contenedor crezca según el contenido */
}

/* Contenido de la tarjeta */
.card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Hace que .card__content ocupe todo el espacio vertical disponible */
}

/* Título de la tarjeta */
.card__title {
    color: var(--primary-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 10px;
}

/* Detalles de la tarjeta */
.card__details {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 0;
}

/* Subtítulo de la tarjeta */
.card__subtitle {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

/* Enlaces de la tarjeta */
.card__links {
    color: var(--link-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

/* Contenedor de tarjetas pequeñas */
.flex-service-cards {
    width: calc(25%);
    box-sizing: border-box;
    overflow: hidden;
}

/* Contenedor de tarjetas pequeñas con especificaciones */
.flex-specs-cards {
    margin: 10px;
    width: calc(20% - 20px);
    box-sizing: border-box;
    overflow: hidden;
}

/* Tarjeta con secciones */
.flex-receivers {
    margin: 10px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    overflow: hidden;
    background: var(--background-light);
}

/* Título grande de la tarjeta con secciones */
.card__bigtitle {
    color: var(--primary-color);
    font-family: "Nunito Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}

/* Título de sección de la tarjeta con secciones */
.card__title-section {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Imagen de la tarjeta */
.card__image {
    background-size: cover;
    background-position: center;
    min-width: 790px;
    height: 300px;
}

/* Imagen de tarjetas de receptores y amplificadores */
.image_receivers_amplifiers {
    min-width: 789px;
    min-height: 380px;
    align-self: stretch;
    background-size: cover;
    background-position: center;
}

/* Imagen de tarjetas de especificaciones */
.image_specs {
    min-width: 310px;
    height: 300px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
}

/* Imagen de tarjetas de servicios */
.image_services {
    min-width: 400px;
    height: 400px;
    align-self: stretch;
    background-size: cover;
    background-position: center;
}