/* Color variables */
:root {
    --primary-color: #002856;
    --link-color: #006AE3;
    --background-light: #F7F7F7;
    --white-color: #FFF;
    --grey-color: #ECECEC;
    --background-light: #F7F7F7;
}

/* Container for the card */
.card__container {
    display: flex;
    padding: 20px 27px;
    flex-direction: column;
    align-items: flex-start;
}

/* Card content */
.card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

/* Card title */
.card__title {
    color: var(--primary-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 10px;
}

/* Card details */
.card__details {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-top: 0;
}

/* Card subtitle */
.card__subtitle {
    color: var(--primary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

/* Card links */
.card__links {
    color: var(--link-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: auto;
}

/* Container for speaker cards */
.card {
    margin: 10px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    overflow: hidden;
    background: var(--white-color);
}

/* Container for service cards */
.flex-service-cards {
    width: calc(25%);
    box-sizing: border-box;
    overflow: hidden;
}

/* Container for small cards with specifications */
.flex-specs-cards {
    margin: 10px;
    width: calc(20% - 20px);
    box-sizing: border-box;
    overflow: hidden;
}

/* Card with sections */
.flex-receivers {
    margin: 10px;
    width: calc(50% - 20px);
    box-sizing: border-box;
    overflow: hidden;
    background: var(--background-light);
}

/* Big title of the card with sections */
.card__bigtitle {
    color: var(--primary-color);
    font-family: "Nunito Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}

/* Section title of the card with sections */
.card__title-section {
    color: #000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Image in the card for the diferente sections */
.image-speakers {
    background-size: cover;
    background-position: center;
    min-width: 790px;
    height: 300px;
}

.image_receivers_amplifiers {
    min-width: 789px;
    min-height: 380px;
    align-self: stretch;
    background-size: cover;
    background-position: center;
}

.image_specs {
    min-width: 310px;
    height: 300px;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
}

.image_services {
    min-width: 400px;
    height: 400px;
    align-self: stretch;
    background-size: cover;
    background-position: right center;
}

/* Specific heights for card containers */
.height-container-services {
    height: calc(100% - 440px);
}

.height-container-speakers {
    height: calc(100% - 340px);
}

.height-container-receivers_amplifiers {
    height: calc(100% - 420px);
}


/*-- colors for cards */
.grey {
    background-color: var(--grey-color);
}

.white {
    background-color: var(--background-light);
}


@media (max-width: 790px) {

    .card,
    .flex-receivers {
        width: 100%;
    }

    .flex-specs-cards {
        width: 100%;
    }

    .flex-service-cards {
        width: 100%;
    }

    .image-speakers,
    .image_receivers_amplifiers,
    .image_specs,
    .image_services {
        min-width: 100%;
    }
}


@media (max-width: 1060px) and (min-width: 791px) {

    .card,
    .flex-receivers {
        width: 100%;
    }

    .flex-specs-cards {
        width: calc(50% - 20px);
    }

    .flex-service-cards {
        width: 100%;
    }

    .image-speakers,
    .image_receivers_amplifiers,
    .image_specs,
    .image_services {
        min-width: 100%;
    }
}